In [1]:
import pandas as pd
root_path = '/home/wanghuiqin/workspace/data/Titanic/'
dataSet = pd.read_csv(root_path+"train.csv")
print(dataSet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [2]:
#analysis
class_tag = dataSet['Survived']
print(class_tag.value_counts())

0    549
1    342
Name: Survived, dtype: int64

In [3]:
x = [dataSet[dataSet.Sex=='male']['Sex'].size,dataSet[dataSet.Sex=='female']['Sex'].size]
y = [dataSet[(dataSet['Survived']==1) & (dataSet['Sex']=='male')]['Sex'].size,dataSet[(dataSet['Survived']==1) & (dataSet['Sex']=='female')]['Sex'].size]
print("all male:",x[0],"all female:",x[1])
print("survived male:",y[0],'survived female:',y[1])

('all male:', 577, 'all female:', 314)
('survived male:', 109, 'survived female:', 233)

In [4]:
sex_analy = dataSet.loc[:,['Survived','Sex']].groupby(['Sex'])
print(sex_analy.count())
Pclass_analy = dataSet[dataSet['Survived']==1]['Pclass']
print(Pclass_analy.value_counts())
Embarked_analy = dataSet[dataSet['Survived']==1]['Embarked']
print(Embarked_analy.value_counts())

        Survived
Sex
female       314
male         577
1    136
3    119
2     87
Name: Pclass, dtype: int64
S    217
C     93
Q     30
Name: Embarked, dtype: int64

In [6]:
print(dataSet['Cabin'].value_counts())
print(len(dataSet['Cabin'].value_counts()))

C23 C25 C27        4
G6                 4
B96 B98            4
D                  3
C22 C26            3
E101               3
F2                 3
F33                3
B57 B59 B63 B66    2
C68                2
B58 B60            2
E121               2
D20                2
E8                 2
E44                2
B77                2
C65                2
D26                2
E24                2
E25                2
B20                2
C93                2
D33                2
E67                2
D35                2
D36                2
C52                2
F4                 2
C125               2
C124               2
                  ..
F G63              1
A6                 1
D45                1
D6                 1
D56                1
C101               1
C54                1
D28                1
D37                1
B102               1
D30                1
E17                1
E58                1
F E69              1
D10 D12            1
E50                1
A14                1
C91                1
A16                1
B38                1
B39                1
C95                1
B78                1
B79                1
C99                1
B37                1
A19                1
E12                1
A7                 1
D15                1
Name: Cabin, Length: 147, dtype: int64
147